#mySidebar {
  padding: 15px;
  margin: 15px;
  position:fixed !important;
  top:0px !important;
  right:0px !important;
  width:35% !important;
  height:100% !important;
  background:white !important;
  box-shadow:inset 0 0 1em black !important;
  z-index: 99999;
}
